## Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [1]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
data = pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])
print(data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
##### Use Data from previous problem

In [2]:
data_filter=data.loc[(data['attempts'] < 2) & (data['score'] > 15)]
print("Number of attempts in the examination is less than 2 and score greater than 15 :")
print(data_filter)

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

## Exerise 3: Change the value in row 'd' to 11.5
##### Use Data from previous questions

In [3]:
print("Original data frame:")
print(data)
data.loc['d','score'] = 11.5
print("Change the score in row 'd' to 11.5:")
print(data)

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 4: Write a Pandas program to calculate the sum of the examination attempts by the students.
data: d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [4]:
sum_attempt=data['attempts'].sum()
print(sum_attempt)

19

## Exercise 5: Drop a list of rows from a specified DataFrame
###### data: 
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [5]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
d=pd.DataFrame(d)
print("Original DataFrame")
print(d)
drop_row=d.drop(d.index[[2,4]])
print("New DataFrame after removing 2nd & 4th rows:")
print(drop_row)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

## Exercise 6:  Check whether a given column is present in a DataFrame or not
###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

In [6]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
d=pd.DataFrame(d)
print("Original DataFrame")
print(d)
df=d.columns
df
print ('Enter the column name')
col_name = input()
if col_name in df:
    print(col_name, "is present in DataFrame.")
else:
    print(col_name, "is not present in DataFrame")

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame.
Col1 is present in DataFrame.

## Exercise 7: Get column index from column name of a given DataFrame

###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

##### HINT: Try using a function called get_loc():
Syntax: 
dataframe.columns.get_loc()

In [6]:
print("Oringinal DataFrame")
print(d)
col_name=input()
print("Index of ",col_name)
d.columns.get_loc(col_name)

Oringinal DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

 col2

Index of  col2

1

## Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
###### Use same data as previous problem

In [7]:
print("Original DataFrame")
print(d)
print("All columns except 'col3':")
drop_col=d.loc[:,d.columns != 'col3']
print(drop_col)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
All columns except 'col3':
   col1  col2
0     1     4
1     4     5
2     3     6
3     4     7
4     5     8

## Exercise 9:  Write a Pandas program to remove last n rows of a given DataFrame.

In [8]:
print("Origninal DataFrame")
print(d)
rm_lst_nrow=d.iloc[:3]
print("After removing last 3 rows of the said DataFrame:")
print(rm_lst_nrow)

Origninal DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
After removing last 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9

## Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes

In [9]:
movie_df=pd.read_csv(r"C:\Users\User\Desktop\Inceptez_datascience\Inceptez_batch_16-main\IMDB-Movie-Data.csv")
title_runtime=movie_df[['Title','Runtime (Minutes)']]
list_movies=title_runtime.loc[(title_runtime['Runtime (Minutes)'] > 60) & (title_runtime['Runtime (Minutes)'] <360)]
print("List of movies longer than 30 minutes and shorter than 360 minutes:")
print(list_movies)

List of movies longer than 30 minutes and shorter than 360 minutes:
                       Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]